<h1>Sign In</h1>
<%= form_with do |form| %>
  <div class="field">
    <%= form.label :username, "Username" %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Sign In" %>
  </div>
<% end %>
<div class=footer><p><%= link_to 'New User', new_user_path %></p></div>
