<h1>Editing Reply to Comment by <%= link_to @reply.comment.user.name, @reply.comment.user %> in Post "<%= link_to @reply.comment.post.title, @reply.comment.post %>"</h1>

<%= render 'form', reply: @reply %>

<div class=footer>
  <p>
    <%= link_to 'Destroy', @reply, method: :delete, data: { confirm: 'Are you sure?' } %> | 
    <%= link_to 'Back to Comment', @reply.comment %>
  </p>
</div>
