<div class="post_avatar">
  <%= image_tag (comment.user.avatar_url), size: '64x64'%>
  <h3>&nbsp;User: <%= link_to comment.user.name, comment.user %></h3>
</div>
<p>
  <b>Posted On: </b>
  <%= comment.created_at %>
   | 
  <b>Last Updated: </b>
  <%= comment.updated_at %>
</p>
<div class="comment_content">
<% content_array = comment.content.split("\n") -%>
<% content_array.each do |x| -%>
  <%= x %>
  <br>
<% end -%>
</div>
