<h1>Editing Comment in Post "<%= link_to @comment.post.title, @comment.post %>"</h1>

<%= render 'form', comment: @comment %>

<%= render 'shared/edit_footer', object: @comment %>

<h1><%= link_to 'Original Post', @comment.post %></h1>
<%= render 'posts/post', post: @comment.post %>
