<h1>Comment by <%= link_to @comment.user.name, @comment.user %> in Post "<%= link_to @comment.post.title, @comment.post %>"</h1>

<%= render 'comment', comment: @comment %>

<div class=footer>
  <p>
    <%= link_to 'Edit', edit_comment_path(@comment) %> | 
    <%= link_to 'Destroy', @comment, method: :delete, data: { confirm: 'Are you sure?' } %> | 
    <%= link_to 'Back to Post', @comment.post %>
  </p>
</div>
<br>
<h2>Replies (<%= @comment.replies.size %>)</h2>

<% if signed_in? -%>
  <div class="reply_avatar">
    <%= image_tag (current_user.avatar_url), size: '64x64'%>
    <h3>&nbsp;<%= current_user.rank_name_op_you(@comment.post.user, current_user) %>: <%= link_to current_user.name, current_user %></h3>
  </div>
  <%= render 'replies/form', reply: @comment.replies.new %>
<% else -%>
  <p>Sign in to reply to this comment. | <%= link_to 'Sign In', login_url %></p>
<% end -%>
<br>
<% @comment.replies.order("created_at desc").each do |reply| -%>
  <% next if reply.new_record? -%>
  <p id=<%= reply.id %> ></p>
  <%= render 'replies/reply', reply: reply %>
  <div class=footer>
    <p>
      <%= link_to 'Edit', edit_reply_path(reply) %> | 
      <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
  <br>
<% end -%>

<h1><%= link_to 'Original Post', @comment.post %></h1>
<%= render 'posts/post', post: @comment.post %>
