<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, "Username#{' (Cannot Be Changed)' if !allow_username_change?(user) || user.new_record?}" %>
    <%= form.text_field :username, disabled: !allow_username_change?(user)%>
  </div>

  <div class="field">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, disabled: !allow_password_change?(user) %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation, disabled: !allow_password_change?(user) %>
  </div>

  <div class="field">
    <%= form.label :display_name, "Display Name" %>
    <%= form.text_field :display_name %>
  </div>

  <div class="field">
    <%= form.label :about_me, "About Me" %>
    <%= form.text_area :about_me, size: "30x8" %>
  </div>

  <div class="field">
    <%= form.label :avatar, "Avatar" %>
    <%= form.select(:avatar, User.avatars.keys.map {|avatar| [avatar.titleize,avatar]}) %>
  </div>
  <%= image_tag (user.avatar_url)%>
  <p><b><%= user.avatar.titleize %></b></p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
