<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Posts</th>
      <th>Comments</th>
      <th>Replies</th>
      <th>Joined</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.order("created_at desc").each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.rank_name_short %></td>
        <td><%= user.post_count %></td>
        <td><%= user.comment_count %></td>
        <td><%= user.reply_count %></td>
        <td><%= time_ago_in_words user.created_at %> ago</td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
