<h1>Users</h1>

<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<% if searching? -%>
  <p>Searching for <b><%= params[:search] %></b> in Users | <%= link_to 'Clear Query', users_path %></p>
<% end -%>

<%= render 'table', users: @users.reorder("display_name asc").order("username asc") %>

<div class=footer><p><%= link_to 'New User', new_user_path %></p></div>
