<%= image_tag (@user.avatar_url), size: '256x256'%>
<h1><%= @user.complete_name %></h1>
<h3><%= @user.rank_name %></h3>
<p><b>Joined: </b><%= time_ago_in_words @user.created_at %> ago</p>
<p><b>Post Count: </b><%= @user.post_count %></p>
<p><b>Comment Count: </b><%= @user.comment_count %></p>
<p><b>Reply Count: </b><%= @user.reply_count %></p>
<div class="user_about_me">
  <% unless @user.about_me.blank? -%>
    <p><b>About Me</b>
    <br><%= @user.about_me %></p>
  <% end -%>
</div>

<%= render 'shared/show_footer', object: @user %>
