<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>OP</th>
      <th>Comments</th>
      <th>Posted</th>
      <th>Recent Activity</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.order("created_at desc").each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= link_to post.user.name, post.user %></td>
        <td><%= post.comments.size %></th>
        <td><%= time_ago_in_words post.created_at %> ago</td>
        <td><%= time_ago_in_words post.recent_activity %> ago</td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
