<%= render 'posts/post', post: @post %>
<br>
<%= render 'shared/show_footer', object: @post %>
<br>
<h2>Comments</h2>
<% if signed_in? -%>
  <div class="post_avatar">
    <%= image_tag (current_user.avatar_url), size: '64x64'%>
    <h3>&nbsp;Commenter: <%= link_to current_user.name, current_user %></h3>
  </div>
  <%= render 'comments/form', comment: @post.comments.new %>
<% end -%>
