<h1>
  <%= @post.title %>
</h1>

<h3>
  <b>OP: </b>
  <%= link_to @post.user.name, @post.user %>
</h3>

<h4>
  <b>Posted On: </b>
  <%= @post.created_at %>
  <b> | </b>
  <b>Last Updated: </b>
  <%= @post.updated_at %>
</h4>

<div class="post_content">
<% content_array = @post.content.split("\n") -%>
<% content_array.each do |x| -%>
  <p><%= x %></p>
<% end -%>
</div>

<%= render 'shared/show_footer', object: @post %>
