<%= render 'post', post: @post %>

<%= render 'shared/show_footer', object: @post %>
<br>
<h2>Comments (<%= @post.comments.size %>)</h2>

<% if signed_in? -%>
  <div class="comment_avatar">
    <%= image_tag (current_user.avatar_url), size: '64x64'%>
    <h3>&nbsp;<%= current_user.rank_name_op_you(@post.user, current_user) %>: <%= link_to current_user.name, current_user %></h3>
  </div>
  <%= render 'comments/form', comment: @post.comments.new %>
<% else -%>
  <p>Sign in to comment on this post. | <%= link_to 'Sign In', login_url %></p>
<% end -%>
<br>
<% @post.comments.order("created_at desc").each do |comment| -%>
  <% next if comment.new_record? -%>
  <p id=<%= comment.id %> ></p>
  <%= render 'comments/comment', comment: comment %>
  <div class=footer>
    <p>
      <%= link_to "Replies (#{comment.replies.size})", comment %> | 
      <%= link_to 'Edit', edit_comment_path(comment) %> | 
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
  <br>
<% end -%>
