<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<h3>
  <b>Posted On: </b>
  <%= @post.created_at %>
  <b> | </b>
  <b>Last Updated: </b>
  <%= @post.updated_at %>
</h3>

<p>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
