<!DOCTYPE html>
<html>
  <head>
    <title>MiniForumRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, id: name %>
    <% end -%>
    <p><%= link_to 'Home', root_path %> | <%= link_to 'FAQ', faq_path %> | <%= link_to 'Posts', posts_path %> | <%= link_to 'Users', users_path %>
    <% if signed_in? -%>
     | <%= link_to 'My Profile', current_user %> | 
      <% if current_user.new_notifications > 0 -%>
        <b><%= link_to "Notifications (#{current_user.new_notifications})", notifications_path %></b>
      <% else -%>
        <%= link_to "Notifications (#{current_user.new_notifications})", notifications_path %>
      <% end -%>
    <% end -%>
    </p>
    <p>
    <% if signed_in? -%>
      You are signed in as <%= current_user.complete_name %>. | <%= link_to 'Sign Out', logout_url,
	method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else -%>
      You are not signed in. | <%= link_to 'Sign In', login_url %>
    <% end -%>
    </p>
    <%= yield %>
  </body>
</html>
