<!DOCTYPE html>
<html>
  <head>
    <title>MiniForumRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, id: name %>
    <% end -%>
    <% if signed_in? -%>
      <p> You are signed in as <%= current_user.complete_name %>. | 
	<%= link_to 'Sign Out', logout_url, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% else -%>
      <p>You are not signed in. | 
	<%= link_to 'Sign In', login_url %></p>
    <% end -%>
    <%= yield %>
  </body>
</html>
